@import 'main_style.scss';

.cover{
	.box-container{
		position:absolute;
		left:0;
		top:0;
		bottom:0;
		right:0;
		margin:auto;
		width:570px;
		height: 200px;
		background-color: white;
		box-shadow: $shadow_card,$shadow_card;
		display: flex;
		flex-direction:column;
		.main{
			margin-left: 10px;
			display: flex;
			flex-wrap:wrap;
			div{
				
				span{
					margin-top: 15px;
					width: 80px;
				}
				select{
					margin-top: 15px;
					width:200px;
					margin-right: 30px;
				}
			}
		}
		.submit{
			position: absolute;
	      width: 100px;
	      height: 30px;
	      align-self:right;
	      right: 30px;
	      bottom:20px;
	      display: inline-block;
	      border-radius: 4px;
	      background-color: lightseagreen;
	      border: none;
	      color: #FFFFFF;
	      cursor: pointer;
	    }
	    .submit span {
	      cursor: pointer;
	      display: inline-block;
	      position: relative;
	    }
	}
}