@import 'main_style.scss';

.data-selector{
  background-color: white;
  box-shadow: $shadow_card,$shadow_card;
  width: 100%;
  display: flex;
  flex-direction: column;
  .data-list{
  	margin-left:10px;
  	.parent_node{
  		margin-top: 5px;
  		transition: all 0.5s;
  		width: $left-side-width - 40;
  		cursor: pointer;
  		img{
  			vertical-align: middle;
        width: 20px;
  		}
  		b{
  			vertical-align: middle;
  		}
  	}
  	.parent_node:hover{
  		background-color: $hover_color;
  	}
  	.parent_node span{
  		float: right;
  	}
  	.child_list{
  		margin-left: 20px;
      width: $left-side-width - 55;
  		p{
  			margin: 5px;
  		}
  		p:hover{
  			background-color: $hover_color;
  		}
      span{
        float: right;
      }
      .grand_son_list{
        margin-left: 20px;
        font-size: 13px;
        img{
          width: 13px;
        }
        button{
          font-size: 5px;
          width: 32px;
          margin:0;
          padding:0;
          border-radius: 2px;
          border: none;
          background-color: lightseagreen;
          color: #FFFFFF;
        }
      }
  	}
  }
  .data_drag_container{
  	height: 80px;
  	background-color: rgba(0,0,0,0.05);
  	border: 1px dashed rgba(0,0,0,0.7);
  	margin: 10px;
  	text-align: center;
  	img{
  		margin-top: 20px;
  	}
  	p{
		margin-top: 0px;
  	}
  }
}





