$black_for_shadow: rgba(0,0,0,0.1);
$shadow_card:0 1px 1px 0 $black_for_shadow;
$title_color:lightseagreen;
$card-margin_padding: 7px;
$title_height:30px;
$left_sider_container_height:600px;
$left-side-width: 350px;
$hover_color:#f5f5f5;
$grey: rgba(0,0,0,0.5);

@mixin container($height){
  background-color: white;
  box-shadow: $shadow_card,$shadow_card;
  width: 100%;
  height: $height;
}

.title{
    height: $title_height;
    p{
      color:$title_color;
      font-size: 17px;
      font-weight: bold;
      margin: 5px 10px;
    }   
}

.map-container{
  @include container(60%);
  min-height: 400px; 
}

.right-container{
  display: flex;
  flex-direction:column;
  height: 100%;
}

.cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index:1000;
  img{
    position: absolute;
    top: 20px;
    right:20px;
  }
}