@import 'main_style.scss';

.par-container{
  @include container($left_sider_container_height+30);
  margin-top: $card-margin_padding;
  display: flex;
  flex-direction: column;
  .par-list{
    margin-left:10px;
    margin-top: 10px;
    input{
      width: $left-side-width - 80;
    }
    p{
      line-height: 10px;
      color: rgba(0,0,0,0.5);
    }
    .submit{
      width: 100px;
      height: 30px;
      float: right;
      margin-right: 3%;
      margin-top: 3px;
      display: inline-block;
      border-radius: 4px;
      background-color: lightseagreen;
      border: none;
      color: #FFFFFF;
      transition: all 0.5s;
      cursor: pointer;
    }
    .submit span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .submit span:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    .submit:hover span {
      padding-right: 25px;
    }

    .submit:hover span:after {
      opacity: 1;
      right: 0;
    }
  }
}


